<header>
  <mat-toolbar color="primary">
    <a 
    [routerLink]="['/']"
    [routerLinkActive]="['link-active']"><img
      src="/FormulaOne.ico"
      alt="Formula One Logo"
      class="spin"
      style="height: 50px; width: 50px; object-fit: contain; filter: drop-shadow(5px 5px 5px 20px #000000);"
    /></a>
    <span style="margin: 0 1em"></span>

    <button mat-icon-button>
      <a
        [routerLink]="['/']"
        [routerLinkActive]="['link-active']"
        style="text-decoration: none; color: inherit"
        ><mat-icon>home</mat-icon></a
      >
    </button>

    <span style="margin: 0 1em"></span>
    <a mat-flat-button color="primary" [routerLink]="['/drivers']">Drivers</a>
    <!-- horizonal seperation/mini gap between buttons -->
    <span style="margin: 0 0.5em"></span>
    <a mat-flat-button color="primary" [routerLink]="['/race-results']"
      >Race Results</a
    >
    <span style="margin: 0 0.5em"></span>
    <a mat-flat-button color="primary" [routerLink]="['/favorites']"
      >Favorites</a
    >
    <div class="flex-spacer"></div>
      @if (!isLoggedIn) {
      <a style="font-size: calc(80%);">Howdy, {{ username }} </a>
      <span style="margin: 1 1.0em"></span>
      <button mat-icon-button>
        <a
          (click)="onLogOut()">
          <mat-icon>account_circle</mat-icon></a
        >
      </button>
    }
    @else 
    {
      <a>User not logged in </a>
      <button mat-icon-button> 
        <a
          [routerLink] = "['/login']"
          style = "color: red; text-decoration: none"
          ><mat-icon>no_accounts</mat-icon></a
        >
      </button>
  }
  </mat-toolbar>
</header>

<!-- <!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HealthcheckClient</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="mat-typography">
  <app-root></app-root>
</body>
</html> -->
