.login{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ff1e00;
    text-decoration: underline;
    cursor: pointer;
}
.login:hover{
    color: #ffffff;
    font-size: calc(100% + 1px);
}

input:placeholder-shown {
    color: gray;
  }
  
  input:not(:placeholder-shown) {
    color: black;
  }