<div class="container">
    <header>
        <h1>Welcome to the COMP 584 Project Documentation!</h1>
        <p>Join us as we race through the exciting features of our project!</p> 
    </header>

    <span style="margin: 0 0.5em;"></span>
    <div class="content">
        <h1>Project Overview</h1>
        <h2>1. Server-side (ASP.NET/C#)</h2>
        <ul>
            <li>Use <a href="https://dotnet.microsoft.com/apps/aspnet" style="text-decoration: none; color: red">ASP.NET</a> Core with MVC architecture.</li>
            <li>Set up two models in the Azure database with a one-to-many relationship using Entity Framework Core (ORM).</li>
            <li>Create controllers to manage requests for these models.</li>
        </ul>

        <h2>2. Client-side (Angular)</h2>
        <ul>
            <li>Build a Single Page Application (SPA) using Angular.</li>
            <li>Use services to communicate with your <a href="https://dotnet.microsoft.com/apps/aspnet" style="text-decoration: none; color: red">ASP.NET</a> API.</li>
        </ul>

        <h2>3. Third-Party Identity (Okta)</h2>
        <ul>
            <li>Integrate <a href="https://www.okta.com/" style="text-decoration: none; color: red">Okta</a> for user authentication and authorization.</li>
            <li>Secure your Angular application using Okta's Angular SDK.</li>
        </ul>
    </div>
    <span style="margin: 0 0.5em;"></span>
    
    <div class="slideshow-container">
        <div *ngIf="isBrowser == true" class="slideshow drivers">
            <h2 style="top: 10px; left: 10px;">Meet the Drivers!</h2>
            <!-- Placeholder for Driver Images -->
            <img src="F1 2024 Season Drivers/Lewis_Hamilton_44.png" alt="Lewis Hamilton" class="slide" />
            <img src="F1 2024 Season Drivers/Max_Verstappen_1.png" alt="Max Verstappen" class="slide" />
            <img src="F1 2024 Season Drivers/Lando_Norris_4.png" alt="Lando Norris" class="slide" />
        </div>
        <span style="margin: 0 0.5em;"></span>
        <div *ngIf="isBrowser == true" class="slideshow cars">
            <h2 style="bottom: 10px; right: 10px;">Check Out the Cars!</h2>
            <img src="F1 2024 Season Cars/Mercedes-AMG_W15.png" alt="Mercedes W15" class="slide"/>
            <img src="F1 2024 Season Cars/Red_Bull_RB20.png" alt="Red Bull RB20" class="slide"/>
            <img src="F1 2024 Season Cars/McLaren_MCL38.png" alt="MCLaren MCL38" class="slide"/>
        </div>
    </div>
</div>