<h1 style="text-align: center;">Drivers</h1>
<table class="table table-striped" aria-labelledby="tableLabel">
    <thead>
        <tr>
            <th (click)="sort('abbreivation')">Abbr.</th>
            <th (click)="sort('driverName')">Driver</th>
            <th (click)="sort('team')">Team</th>
            <th (click)="sort('points')">Points</th>
            <th (click)="sort('worldChampionships')">World Championships</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let driver of drivers; trackBy: trackByDriverId">
            <tr *ngIf="driver.id !== undefined && driver.id < drivers.length" 
            [routerLink]="['/driver-details', driver.id]" style="cursor: pointer;">
        [routerLink]="['/driver-details', driver.id]" style="cursor: pointer;">
            <td>{{ driver.abbreivation }}</td>
            <td>{{ driver.driverNumber }} || {{ driver.driverName }}</td>
            <td>{{ driver.team }}</td>
            <td>{{ driver.points }}</td>
            <td>{{ driver.worldChampionships }}</td>
        </tr>
        </ng-container>
    </tbody>
</table>
