<div style="display: flex; justify-content: center; align-items: center">
  <!-- Aligned Horizontally Driver's Image, -->
  <h1 style="text-align: center">#{{ driverNumber }} | {{ driver }}</h1>
  <!--- [Driver Abv] Driver # | Driver Name-->
</div>
<table class="table table-striped" aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Abbr.</th>
      <th>Driver</th>
      <th>Team</th>
      <th>Points</th>
      <th>World Championships</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
